services:
  backend:
    build: ./backend
    container_name: chatbot-backend
    environment:
      - GEMINI_API_KEY=AIzaSyCETMzuG6bM3zJ9sPU9R_JUWH-DIIfO47Q
    ports:
      - "4000:4000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: chatbot-frontend
    ports:
      - "8501:8501"
    environment:
      - BACKEND_URL=http://backend:4000
    depends_on:
      - backend
    restart: unless-stopped
